body {
  overflow-x: hidden;
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, system-ui, 'Helvetica Neue', 'Roboto', 'Segoe UI', Helvetica, Arial, sans-serif;
  color: #444; }

p {
  margin: 0;
  font-size: 16px; }

ul,
li {
  /* reset the margin and padding */
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

li {
  font-size: 16px;
  margin-right: 32px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

h1 {
  font-weight: 800;
  letter-spacing: normal;
  text-transform: none;
  font-size: 2rem; }

@media (min-width: 544px) {
  h1 {
    font-size: 2.25rem; } }

@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem; } }

@media (min-width: 922px) {
  h1 {
    font-size: 3rem; } }

h2 {
  font-weight: 800;
  letter-spacing: normal;
  text-transform: none;
  font-size: 1.5rem; }

@media (min-width: 544px) {
  h2 {
    font-size: 1.75rem; } }

@media (min-width: 768px) {
  h2 {
    font-size: 1.875rem; } }

@media (min-width: 922px) {
  h2 {
    font-size: 2.25rem; } }

h3 {
  font-weight: 500;
  letter-spacing: normal;
  text-transform: none;
  font-size: 1.25rem;
  line-height: 1.4; }

@media (min-width: 544px) {
  h3 {
    font-size: 1.375rem;
    line-height: 1.091; } }

@media (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 1.273; } }

@media (min-width: 922px) {
  h3 {
    font-size: 1.75rem;
    line-height: 1; } }

h4 {
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.5; }

@media (min-width: 544px) {
  h4 {
    font-size: 1rem;
    line-height: 1.5; } }

@media (min-width: 768px) {
  h4 {
    font-size: 1.125rem;
    line-height: 1.375; } }

@media (min-width: 922px) {
  h4 {
    font-size: 1.25rem;
    line-height: 1.2; } }

h5 {
  font-weight: 700;
  letter-spacing: normal;
  text-transform: none;
  font-size: 0.875rem;
  line-height: 1.429; }

@media (min-width: 544px) {
  h5 {
    font-size: 0.875rem;
    line-height: 1.429; } }

@media (min-width: 768px) {
  h5 {
    font-size: 1rem;
    line-height: 1.5; } }

@media (min-width: 922px) {
  h5 {
    font-size: 1rem;
    line-height: 1.5; } }

h6 {
  font-weight: 600;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: 0.813rem;
  line-height: 1.538; }

.hero-overlay {
  position: relative; }

.overlay {
  position: absolute;
  background-color: white;
  width: 80%;
  padding: 1rem;
  margin-top: -3rem; }

@media (min-width: 768px) {
  .hero-overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .overlay {
    width: 40%;
    padding: 4rem;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 0;
    margin-right: 4rem; } }
